@model _1_CapaPresentacionGM.Models.TeleconsultaViewModel
@{
    ViewBag.Title = "Bandeja Servicio FAT";
}


<div class="content-wrapper">

  <section class="content">

    <div class="box box-default">
      <div class="box-header">
        <div class="row">
          <div class="col-md-10 title">
            Bandeja Servicios
          </div>
          <div class="col-md-2 text-right">
          </div>
        </div>
      </div>
      <div class="box-body">
        <form id="form-atenciones">
          <div class="row">
            <div class="col-md-1 text-right col-3">
              <label>B&uacute;squeda</label>
            </div>
            <div class="col-md-5 text-right col-9">
              <input type="text" name="busqueda" placeholder="Documento/paciente/oaa" />
            </div>
            <div class="col-md-2 text-right col-3">
              <label>Servicio</label>
            </div>
            <div class="col-md-2 text-right col-9">
              <input type="text" readonly="readonly" value="@ViewBag.Servicio" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 text-right col-3">
              <label>Desde</label>
            </div>
            <div class="col-md-2 col-9">
              <div class="input-group input-group-sm">
                <input id='fec-ini' name="fecinicio" data-column="3" type='text' class="dateTime form-control" placeholder="dd/mm/yyyy" value="@ViewBag.fecinicio" />

                <span class="input-group-btn">
                  <button type="button" class="btn btn-input btn-flat btn-sm btn-date" data-input="fec-ini"><i class="fas fa-calendar-alt"></i></button>
                </span>
              </div>
            </div>
            <div class="col-md-1 text-right col-3"><label>Hasta</label></div>
            <div class="col-md-2 col-9">
              <div class="input-group input-group-sm">
                <input id='fec-final' name="fecfin" data-column="3" type='text' class="dateTime form-control" placeholder="dd/mm/yyyy" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-input btn-flat btn-sm btn-date" data-input="fec-final"><i class="fas fa-calendar-alt"></i></button>
                </span>
              </div>
            </div>
            <div class="col-md-2 text-right col-3">
              <label>Especialidad</label>
            </div>
            <div class="col-md-2 text-right col-9">
              <select name="espec">
                <option value="">Todo</option>
                @foreach (var e in Model.especialidades)
                {
                    <option value="@e.codigo">@e.descripcion</option>}

              </select>
            </div>
            <div class="col-md-2 text-right">
              <button id="btn-submit" type="button" class="btn bg-info btn-sm">
                <i class="fas fa-search"></i> Buscar
              </button>
            </div>
          </div>
        </form>
        <div class="loader"></div>
      </div>
      <div id="tabla" class="col-md-12 table-hover" style="display:none">
        <table id="table" data-page-length="8" style="width:100%" class="table">
          <thead class="bg-secondary">
            <tr>
              <th></th>
              <th>N&deg; Atenci&oacute;n</th>
              <th>OAA</th>
              <th width="180">F. Consulta Med</th>
              <th>Paciente</th>
              <th>Seguro</th>
              @if (ViewBag.menuFatRadiologia == 2 && ViewBag.menuFatLaboratorio == 2)
              {
                  <th>FAT</th> }
              else if (ViewBag.menuFatLaboratorio == 2)
              {
                  <th>Lab</th> }
              else
              {
                  <th>Rx</th>}
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var l in Model.listaAtencion)
            {
                <tr>
                  <td>@l.oaa</td>
                  <td>@l.NroAtencion</td>
                  <td>@l.oaa</td>
                  <td>@l.FecAtencion</td>
                  <td>@l.NombrePaciente</td>
                  <td>@l.Seguro</td>
                  <td>
                    @l.idAtencion
                  </td>
                  <td>
                    @l.celularpac
                  </td>
                  <td>
                    @l.telfonopac
                  </td>
                  <td>
                    @l.emailpac
                  </td>
                </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
@*<!------------SECTION TABLE>>------->*@
<link rel="stylesheet" href="~/Content/dataTable.css" />
<link rel="stylesheet" href="~/Content/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
@*<!------------SECTION DATETIME>>------->*@
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script type="text/javascript" src="~/Scripts/moment-with-locales.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/Funciones/Fechas.js"></script>
<style>
 tbody {
   text-transform: uppercase;
 }

 .btn-circle {
   border-radius: 15px;
 }
</style>
<script>
  $(document).ready(function () {
    setTimeout(function () {
      $('.loader').css("display", "none")
      $('#tabla').css("display", "block")
    }, 1500);

    var table = $('#table').DataTable({
      //"order": [[11, "desc"]],
      autoWidth: false,
      info: true,
      lengthChange: false,
      ordering: false,
      paging: true,
      searching: false,
      language: { // Se configura la DataTable para mostrar los textos en español
        info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
        lengthMenu: "Mostrar _MENU_ registros",
        paginate: {
          first: "Primero",
          last: "Último",
          next: "Siguiente",
          previous: "Anterior"
        },
        zeroRecords: "No se encontraron resultados",
      },
      'columnDefs': [{
        'targets': [ 7,8,9], // column index (start from 0)
        'visible': false, // set orderable false for selected columns
        "searchable": false,
      }],
      rowCallback: function (row, data) {
        $($(row).find("td")[0]).html('<button class="contacto btn btn-info btn-sm"><i class="fas fa-address-card"></i></button>')
        if ("@ViewBag.menuFatRadiologia" != "2") {
          $($(row).find("td")[6]).html(
         "<a class=\"text-primary\" href=\"@Url.Action("FAT", "Reporte")\~" +
         data[6] + "/" + data[1] + "\~L\" target=\"_blank\"><h4><i class=\"fas fa-file-pdf\"><h4/></i></a>");
        }
        else if ("@ViewBag.menuFatLaboratorio" != "2") {
          $($(row).find("td")[6]).html(
      "<a class=\"text-primary\" href=\"@Url.Action("FAT", "Reporte")\~" +
      data[6] + "/" + data[1] + "\~X\" target=\"_blank\"><h4><i class=\"fas fa-file-pdf\"></i></h4></a>");
        }
        else {
          $($(row).find("td")[6]).html("<a class=\"text-primary\" href=\"@Url.Action("FAT", "GestionReporteCG")\~" +
          data[6] + "/" + data[01] + "\" target=\"_blank\"><h4><i class=\"fas fa-file-pdf\"><h4/></i></a>");
        }


      }
    });


    $("#btn-submit").click(function () {
      $('#tabla').attr("style", "display:none");
      $(".loader").removeAttr("style");
      table.rows().remove().draw();
      $.get('@Url.Action("BuscarServicio", "FATServicio")',
        $("#form-atenciones").serialize(), function (data) {
          if (data.outsession) {
            return outSession();
          }
          $(".loader").attr("style", "display:none")
          var l = data.list
          if (data.list == null) {
            mostrarModal("#modal-error", "", "Hubo un error en la busqueda, por favor comuniquese con el área de sistemas", "")
          } else {
            $('#tabla').removeAttr("style");
            for (var i = 0; i < l.length; i++) {
              table.row.add([
                    l[i].oaa,
                    l[i].NroAtencion,
                    l[i].oaa,
                    l[i].FecAtencion,
                    l[i].NombrePaciente,
                    l[i].Seguro,
                    l[i].idAtencion,
                    l[i].celularpac,
                    l[i].telfonopac,
                    l[i].emailpac,

                    //l[i].DocumentoPaciente
              ]);
              table.draw();
            }
          }
        })
    })




    function format(d) {
      // `d` is the original data object for the row
      var detail = '<table class="table">';

      detail += '<tr><td colspan="2"><b><u>Datos adicionales del paciente</u></b></td></tr><tr>' +
            '<td width=\"100\" class=\"text-left\"><b>Celular:</b></td>' +
            '<td class=\"text-left\">' + d[7] + '</td></tr><tr>' +
            '<td width=\"100\" class=\"text-left\"><b>Teléfono:</b></td>' +
            '<td class=\"text-left\">' + d[8] + '</td></tr><tr>' +
            '<td width=\"100\" class=\"text-left\"><b>Email:</b></td>' +
            '<td class=\"text-left\">' + d[9] + '</td>' +
        '</tr>';

      detail += '</table>';
      return detail;
    }
    $('#table tbody').on('click', 'td', function () {
      var td = $(this).find("button.contacto")
      var tg = $(this).find("button.guia")

      if (td.length != 0) {
        var tr = td.closest('tr');
        var row = table.row(tr);
        if (row.child.isShown()) {
          // This row is already open - close it
          td.removeClass("btn-light")
          td.addClass("btn-info")
          row.child.hide();
          tr.removeClass('shown');
        }
        else {
          // Open this row
          td.removeClass("btn-info")
          td.addClass("btn-light")
          row.child(format(row.data())).show();
          tr.addClass('shown');
        }
      }
    });


  })

</script>